html {
  background-color: #f5f5f5;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #333;
}

#root_document {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.grid-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav main"
    "nav main"
    "nav main"; */
}

.nav {
  grid-area: nav;
}

.nav a:hover {
  color: var(--secondary-color);
}

.nav {
  /* background-color: #f8f9fa; */
  /* background-color: white;
  border-bottom: 1px solid #e9ecef;
  padding: 10px 0; */
  border-radius: 10px;
  background: #ffffff00;
  width: 303px;
  position: absolute;
  top: auto;
  left: -303px;
  /* height: 100%; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  transition: all 0.3s ease-out;
  z-index: 1;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav li {
  margin: 10px 0;
  display: block;
}

.nav a {
  padding: 8px 15px;
  font-size: 16px;
  color: #222;
  font-family: arial;
  text-decoration: none;
  display: block;
  position: relative;

  transition: all 0.3s ease-out;
  font-weight: 500;

  text-decoration: none;
  font-weight: bold;
}

.nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 1px;
  background: #4caf50;
  z-index: -1;
  transition: all 0.3s ease-out;
}

.nav ul li a:hover:before {
  width: 100%;
}

.nav ul li a:hover {
  color: #4caf50;
}

.navshow {
  left: 0;
}

.nav h1 {
  text-align: center;
  color: #495057;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.toggle {
  /* background: transparent; */
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}
.toggle span {
  width: 100%;
  height: 3px;
  background: #555;
  display: block;
  position: relative;
  cursor: pointer;
}

.toggle span:before,
.toggle span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #555;
  transition: all 0.3s ease-out;
}

.toggle span:before {
  top: -8px;
}

.toggle span:after {
  top: 8px;
}

.toggle span.toggle {
  background: transparent;
}

.toggle span.toggle:before {
  top: 0;
  transform: rotate(-45deg);
  background: #4caf50;
}

.toggle span.toggle:after {
  top: 0;
  transform: rotate(45deg);
  background: #4caf50;
}

.main {
  grid-area: main;
  /* background-color: #e9ecef; */
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.question-cell {
  position: relative;
}

.user-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 10px 20px;
  position: fixed;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  bottom: 0;
  padding: 11px;
  /* background-color: rgb(255 255 255); */
  left: 0;
  /* box-shadow: -11px -3px 5px rgba(0, 0, 0, 0.1); */
  right: 0;
}

#pause-button {
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: #fff;
}

#speak-button {
  display: flex;
  background-color: #007bff;
  color: white;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

#title-div {
  position: relative;
  top: 0;
  /* background-color: rgb(233, 236, 239, 1); */
  width: 100%;
}
#title-div h1 {
  text-align: center;
}

#pause-button {
  width: 100px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
}

#speak-button {
  width: 150px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
}

#question-input {
  flex-grow: 1;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

/* CSS for spinner */
.spinner {
  display: none;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3c8dbc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
