{% extends 'base.html' %} {% block head %}

<title>Techmentry V2 POC</title>
<style></style>

{% endblock %} {% block body %}

<div class="grid-container">
  <button class="toggle" id="toggle">
    <span></span>
  </button>

  <nav class="nav" id="nav">
    <h1>What do you want to learn?</h1>
    <ul>
      <li><a href="?lectureType=addition">Addition</a></li>
      <li><a href="?lectureType=angles">Angles</a></li>
      <li><a href="?lectureType=quadratic">Quadratic</a></li>
    </ul>
  </nav>
  <div id="title-div"></div>
  <main class="main">
    <div id="root_document">
      <div id="content_container"></div>
    </div>

    <div class="spinner"></div>
  </main>
  <div class="user-input">
    <button id="pause-button">❚❚</button>
    <textarea
      id="question-input"
      placeholder="Enter your question here..."
    ></textarea>
    <button id="speak-button">
      <i class="fas fa-microphone"></i> Ask Question
    </button>
  </div>
</div>
<script
  src="{{ url_for('static', filename='js/main.js')}}"
  type="module"
></script>

{% endblock %}
